.home {
  display: flex;
  flex-direction: column;
  padding: 0px 130px;
  background-color: #eaeaea;
}
.postForm {
  margin-top: 50px;
  padding: 24px;
  background-color: white;
}
.postFormTop {
  display: flex;
  padding: 20px 0px 40px 0px;
  align-items: center;
  gap: 20px;
  border-bottom: 1px #eaeaea solid;
}
.postInput {
  border: none;
  color: #807e7e;
}
.postOutput,
.postForm {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 580px;
}
.postOutput {
  margin-top: 32px;
  padding: 24px;
  background-color: white;
}
